
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<h1>About Us</h1>
<p>  Welcome</p>


@section footersection
{
    <a asp-controller="Home" asp-action="Index">Back to home</a>
}

