
@inject ProductManagementSystem.Services.IproductRepository obj
@{
    ViewData["Title"] = "Home Page";
}

            


<center>
    <div class="col-md-4 col-xs-6 border-primary mb-3">

        <h1>Welcome to Clothing Management System</h1>
       
    </div>
    <img src="~/Images/shop.jpg" />
</center>
    




